* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(213, 213, 213, 0.277);
}

html {
  font-size: 62.5%;
  color: #444;
  font-family: 'Oxygen', sans-serif;
  scroll-behavior: smooth;
}

/* styling the section */

.section {
  margin: 0 auto;
  padding: 7rem 10rem;
  border-bottom: 1px solid #333;
  background-color: #fff;
  max-width: 120rem;
  height: auto;
  overflow: hidden;
}

/* Landing section */
.landing-area {
  background-image: url('/images/index/landing.png');
  background-image: url('/images/index/landing.png'),
    linear-gradient(rgba(0, 0, 0, 0.463), rgba(0, 0, 0, 0.441));
  background-size: cover;

  background-position-x: right;
  height: 100vh;
}

.section.landing-area {
  max-width: 100vw;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
  color: #277c38;
  margin-bottom: 10rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: #113719;
}

.landing-area p {
  font-size: 2rem;
  font-weight: 600;
  /* margin-bottom: 1rem; */
}

#landing-button {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  color: #113719;
  text-decoration: none;
  background-color: #6bad78;
  padding: 1rem 2rem;
  border-radius: 100px;
  margin-top: 5rem;
}

/* blog List styles */
.blog-area h2 {
  margin-top: 4rem;
  color: #277c38;
}
.blog-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  display: flex;
  justify-content: space-between;

  background-color: #d8d7d73a;
  padding: 1.5rem;
  border-radius: 9px;
}

.list-item a {
  display: inline-block;
  text-decoration: none;
  color: #2b8a3e;
  font-weight: bold;
  margin-bottom: 1rem;
}

.blog-num {
  font-size: 1.7rem;
  margin-right: 0.75rem;
  color: #2b8a3e;
  font-weight: bold;
}

.blog-img {
  width: 8rem;
  height: 8rem;
  border: 2px solid #555;
  border-radius: 9px;
  overflow: hidden;
  object-fit: contain;
}

.list-detail {
  display: flex;
}

.list-detail div > p {
  font-size: 1.5rem;
}

.blog-list a {
  font-size: 1.7rem;
}

/* /////////////////////////////////////// */
/* Styling the blog page */
/* ///////////////////////////////// */

.blog-article {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem 15rem;
  background-color: #fff;
}

.blog-article h1 {
  font-size: 5.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-bottom: 7rem;
}

.blog-article h2 {
  font-size: 3rem;
  font-weight: bold;
  /* margin-top: 4rem; */
  margin-bottom: 4rem;
}
.content h2 {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 7rem;
  margin-bottom: 4rem;
}
.blog-article h3 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.list-style {
  font-size: 1.75rem;
  margin-left: 2rem;
  font-style: italic;
}

.list-style li {
  margin-bottom: 0.75rem;
}

.float {
  float: right;
  width: 38%;
  min-height: 20rem;
  height: auto;
  margin: 0 0 1.5rem 1.5rem;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
  font-weight: bold;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.image-container > p {
  font-size: 0.75rem;
  font-weight: bold;
  color: #2b8a3e;
}

.image-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.image-box img {
  /* max-width: 60%; */
  min-width: 30%;
  height: 40rem;
}

.box-2 {
  margin-top: 10rem;
  /* width: 65vw; */
}

.content p {
  font-size: 1.75rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.question {
  color: rgb(49, 103, 149);
  margin-bottom: 1.2rem !important;
  margin-top: 3.25rem !important;
  font-weight: bold;
}

.code {
  font-weight: bold;

  margin: 4rem 0;
  padding: 4rem;
  background-color: #b9e1c169;
}

.code h3 {
  font-size: 2rem;
}

.code p {
  font-style: italic;
  color: red;
}

.padding-left {
  padding-left: 10rem;
}

.margin-top-10 {
  margin-top: 10rem;
}
#conclusion {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

.home-link {
  font-size: 1.75rem;
  display: inline-block;
  position: absolute;
  margin-top: 3rem;
  right: 5rem;
  text-decoration: none;
  cursor: pointer;
  color: #2b8a3e;
  font-weight: bold;
}

pre {
  margin: 4rem 0;
  padding: 4rem;
  background-color: #b9e1c139;
}

pre code {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: red;
}

/* /////////////////////////////////// */
/* CSS making page responsive */
/* ////////////////////////////////////// */
@media (max-width: 830px) {
  html {
    font-size: 45%;
  }
  h1 {
    margin-top: 20rem;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 45%;
  }

  h1 {
    margin-top: 20rem;
  }

  h2 {
    font-size: 6rem;
  }

  .landing-area p {
    font-size: 2.25rem;
  }

  #landing-button {
    /* margin-top: 25rem; */
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) and (max-height: 700px) {
  html {
    font-size: 40%;
  }

  h1 {
    margin-top: 10rem;
  }

  .landing-area p {
    color: #000;
  }

  #landing-button {
    margin-top: 10rem;
    font-size: 2.5rem;
  }

  .list-detail div > p {
    font-size: 2.25rem;
  }

  .blog-list a {
    font-size: 2.5rem;
  }
  .blog-num {
    font-size: 2.5rem;
  }
  #blog-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .blog-article {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .list-detail {
    max-width: 75%;
  }
}

@media (max-width: 450px) and (max-height: 900px) {
  html {
    font-size: 40%;
  }

  h1 {
    margin-top: 10rem;
  }

  .landing-area p {
    color: #000;
  }

  #landing-button {
    margin-top: 10rem;
    font-size: 2.5rem;
  }

  .list-detail div > p {
    font-size: 2.25rem;
  }

  .blog-list a {
    font-size: 2.5rem;
  }
  .blog-num {
    font-size: 2.5rem;
  }
  #blog-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .blog-article {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .list-detail {
    max-width: 75%;
  }
}

@media (max-width: 400px) and (max-height: 750px) {
  html {
    font-size: 35%;
  }
}
